// Whole page styling
body {
    background-color: #e0ecff;
    text-align: center;
}

// Login page styling
.loginSection {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

input {
    margin-left: 10px;
}

.logTxt {
    width: 200px;
}

// Home page styling